# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\MHAMM\OneDrive\Bureau\ecommerce-project-olfa\backend\ceri-m1-techniques-de-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
